name: CICD

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]
jobs:
  ci:
    name: Build & Test Java App
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Java 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: 'maven'

      # User mvnw because automatically download and run maven with that guaranteed version.
      - name: Make mvnw executable
        run: chmod +x ./mvnw

      - name: Build (using Maven Wrapper)
        run: ./mvnw -B -V clean package

      - name: Run tests (using Maven Wrapper)
        run: ./mvnw -B test
      
      - name: Upload JAR Artifact
        uses: actions/upload-artifact@v4
        with:
          name: springboot-jar
          path: target/*.jar
  
  cd:
    name: Deploy to GKE
    needs: ci
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    # Use for OIDC authentication with Workload Identity Federation
    #permissions:
    #  id-token: write
    #  contents: read
    
    # Use
    env:
      IMAGE: us-central1-docker.pkg.dev/amazing-gearing-480202-f2/portfolio-apps/java-app

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Download JAR Artifact
        uses: actions/download-artifact@v4
        with:
          name: springboot-jar
          path: target/

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/javaapp:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/javaapp:${{ github.sha }}