on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  get-oidc-token:
    runs-on: ubuntu-latest
    permissions:
      id-token: write   # REQUIRED
      contents: read

    steps:
      - name: Request GitHub OIDC token
        id: oidc
        uses: actions/github-script@v7
        with:
          script: |
            const token = await core.getIDToken();
            core.setOutput("id_token", token);

      - name: Print the OIDC token
        run: |
          echo "OIDC Token: ${{ steps.oidc.outputs.id_token }}"
